<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'users' %>

<div class="main-container">
      <div class="content users">
        <p id="notice"><%= notice %></p>
         <h3 class="title">Users</h3>
         <table>
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
               </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
               <tr>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>

                  <td class="actions-btn">
                     <button> <%= link_to 'Show', user %> </button>
                     <button><%= link_to 'Edit', edit_user_path(user) %></button>
                     <button><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                  </td>
               </tr>
              <% end %>
         </table>
      </div>
   </div>
